.Job-card-div{
border:  4px solid black;
  background: linear-gradient(to right, #f5f5f5, #e0e0e0);
  color: #333;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 20%;
  position: relative;
 
} 

.Job_card{
  display: flex;
  flex-direction: column;     /* stack cards vertically */
  align-items: center;        /* center each card horizontally */
  gap: 20px;                  /* space between cards */
  margin: 20px auto;          /* center the container horizontally */

}

/* .Display_Job-card-div{
  display: flex;
gap: 30%;
} */

.Cut_button{
  position: absolute;
  top: 0%;
  right: 0%;
  border-radius: 4px;
}